html {
  scroll-behavior: smooth;
}

* {
  font-family: "Commissioner", sans-serif;
}
p {
  font-size: 12pt;
}

.pair-o-buttons {
  /* border: 1px solid hotpink; */
  text-align: center;
  margin-bottom: 20px;
}

.w3-button {
  border-radius: 5px;
}

/* 5f0092 */
.bg-purple {
  background-color: #582573 !important;
}

.w3-text-teal {
  color: #582573 !important;
}
